*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("Sc_um\ Villain\ Self-Saving\ System\ _\(English\ Edition\).jpeg");
    background-size: cover;        /* fills screen */
    background-repeat: no-repeat;  /* no repeating */
    background-position: 80% center;   /* center image */
    min-height: 100vh;
    color: #f4f0e8;
}

h1, h2, h3 {
    color: #f7e6c4;
    text-shadow: 
        2px 2px 6px rgba(0,0,0,0.9);
}

p {
    color: #ece8df;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}

a {
    color: #cfa86a;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
}

.novel-img {
    width: 300px;
    border-radius: 700px;
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
    border: 3px solid #cfa86a;
}

footer {
    margin-top: 100px;
}

