body{
    background-image: url("🍲\ Tteokbokki\ —\ Short\ Recipe__Ingredients_\ Korean….jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: pink;
}

p{
    text-align: center;
    text-size-adjust: 5px;
}